            body{
                   background-color:	#FAF3DD;
                margin:0%;
                padding:0%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                /* background-image: url('Images/6213932.jpg'); */
                background-position:center;
                background-repeat:no-repeat;
                background-size:cover;
                 animation-name:pageload;
                animation-duration: 1s;
            }
            @keyframes pageload{
                from{
                    opacity: 0;
                    filter: blur(10px);
                }
                to{
                    opacity: 1;
                    filter:blur(0px);
                }
            }
             .back{
                z-index: -1;
                position:fixed;;
                top:0px;
                left:0px;
                right:0px;
                bottom:0px;
                
                
            } 
            #spline{
                z-index: -1;
                position:fixed;;
                top:0px;
                left:0px;
                right:0px;
                bottom:0px;

            }
            a{
                text-decoration-line: none;
                color:black;
            
            }
           
               .navi{
                
                border:1px solid #ffffff04;
                background-color: #ffffff04;   
                backdrop-filter: blur(4px);            
                color:white;
            }
            .outer{
                display:flex;
                justify-content: space-between;
            }
           
           .logo{
               padding:10px;
                font-weight: bold; 
                background-color: white;  
                margin: 20px;       
                 border:1px solid white;
                border-radius: 0.4rem 
           }
           .logo:hover{
                transform: scale(1.1);
                transition: all 0.3s ease;
                background-color: #ffa69eaa;
                border-color: #ffa69eaa;
           }
          
            .lis{
                list-style-type:none;
                
                 padding-right: 20px;
                display:flex;
                gap:30px;
                color:white;
               
                
            }
            li{
                font-weight: bold;
                padding:2px;
                border:1px solid white;
                border-radius: 0.4rem;
                background-color: white;
                max-height: fit-content;
            }
             li:hover{
                transform: scale(1.1);
                transition: all 0.3s ease;
                background-color: #ffa69eaa;
                border-color: #ffa69eaa;
            }
                .heade{
                   border: 2px solid #ffffff29;
                    max-width: 40vw;
                    box-shadow: 1.2px 1.2px 8px #FFA69E;
                    border-radius: 0.8rem;
                    margin-left: 30%;
                    margin-top: 10vh;
                    opacity:2;
                    line-height: 30px;
                    font-weight: bold;
                    overflow:hidden;

                }       
                .fulcon{
                    
                    border:2px solid #ffffff05;
                    padding:10% 25%;
                   background-color: #ffffff05;
                    backdrop-filter:blur(7px);
                }
                
                .content1{
                    display:flex;
                    flex-direction: column;
                    width:auto;
                    

                }
                .content1>h1{
                    text-align: center;
                }
                input{
                    border-radius: 2rem;
                    height: max-content;
                    box-shadow: 1.1px 1.1px 3px #FFA69E;    
               }
               #regisbut{
                width:100%;
                cursor: pointer;
                border:1px solid #ff968d;
                background-color: #FFA69E;
                transition: all 0.3s ease;
                color:black;
                font-weight: 600;
               }
               #regisbut:hover{
                transform:scale(1.1);
               }
               
               